<%- include("partials/header") %>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/cart.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' type='text/css' href='/css/cart.css' />
    <div class="container2">
            <ul class="progressbar" style="width: 100%;">
                <li class="aa bket"><i class="fa fa-shopping-cart" aria-hidden="true" ></i><br>CART<br></li>
                <li class="active2 aa"><i class="fa fa-credit-card"></i><br>payment<br></li>
                <li class="active2 aa"><i class="fa fa-check"></i><br>order<br>complete</li>
        
            </ul> 
    </div>
        <br>
    <% if (products != null) { %>
        
        <main>
          
            <div class="basket">
             
              <div class="basket-labels">
                <ul>
                  <li class="item item-heading">Item</li>
                  <li class="price">Price</li>
                  <li class="quantity">Quantity</li>
                  <li class="subtotal">Subtotal</li>
                </ul>
              </div>
              <% products.map(function(product){ %>
              <div class="basket-product">
                <div class="item">
                    <% Object.values(product.details.productID).map(function(show){ %>
                       
               
                        <div class="product-image">
                            <img alt="Placholder Image 2" class="product-frame" src= <%= show.image %>>
                        </div> 
                    <% }); %>
                  <div class="product-details">
                    <h1>
                        <strong>
                            <span class="item-quantity"> 
                                <%= product.qty %> x 
                            </span> 
                        <% Object.values(product.details.productID).map(function(show){ %>
                            <a href="/want2wear/<%= show._id %>"><%= show.ProductName %></a>
                        <% }); %>
                        </strong>
                    </h1>
                        <p>
                            <strong>
                                <% Object.values(product.details.colors).map(function(showcolor){ %>
                                    <%= showcolor.colorName %>
                                <% }); %> , 
                                <% Object.values(product.details.size).map(function(showsize){ %>
                                    <%= showsize.sizeName %>
                                <% }); %>
                            </strong>
                        </p>
                   
                  </div>
                </div>
                <div class="price">
                    <% Object.values(product.details.productID).map(function(show){ %>
                        <%= show.price %>
                    <% }); %>
                </div>
                <div class="quantity">
                   
                    <%= product.qty %>  pcs. 
                </div>
                
                <div class="subtotal">
                    <%= product.price %>
                </div>
                <div class="remove">
                  <form id="modifyCart" action="/want2wear/shoppingcart/update/<%= product.details._id %>?_method=PUT" method="POST">
                    <!-- <input type="hidden" value="<%= product.details._id %>"> -->
                          <button type="submit" class="btn-circle" id="addbtn" style="background-color: #18B87A; border-color: transparent;"><i class="fa fa-plus" aria-hidden="true"></i> </button>
                        
                  </form><br>
                  <form id="modifyCart" action="/want2wear/shoppingcart/update/<%= product.details._id %>?_method=DELETE" method="POST">
                    
                          <button type="submit"  class="btn-circle"  id="decresebtn" style="background-color:  #5386C5; border-color: transparent;"> <i class="fa fa-minus" aria-hidden="true"></i></button>
                        
                  </form>
                        
                        <br>
                        <form id="modifyCart" action="/want2wear/shoppingcart/delete/<%= product.details._id %>?_method=DELETE" method="POST">
                          
                                <button type="submit"  class="btn-circle" id="removebtn" style="background-color: darkred; border-color: transparent;"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
                              
                        </form>
                          
                          
                </div>
              </div>
              <br>
              
              
              
              
             <% }); %>   
             <br>
             <form  action="/want2wear/shoppingcart/clear?_method=DELETE" method="POST">
                          
              <button id="modifyCart" type="submit"  value="delete" id="clearbtn" style="background-color: darkred; border-color: transparent; width: 100px;border-radius: 24px;">  Clear  </button>
            
          </form>
             
            </div>
            
            
          
            <form method="POST"  action = "/want2wear/shoppingcart/payment?user=<%= user._id %>">
            <aside>
              <div class="summary">
                <div class="summary-total-items"><span class="total-items" value="<%= totalProduct %>" ><%= totalProduct %></span> Items in your Bag</div>
                <div class="summary-subtotal">
                  <div class="subtotal-title">Subtotal</div>
                  <div class="subtotal-value final-value" id="basket-subtotal" value="<%= totalPrice %>"><%= totalPrice %></div>
                  
                </div>
                <div class="summary-delivery">
                  <select style="border-radius: 24px;" name="shipment" class="summary-delivery-selection" required>
                      <option value="0" selected disabled>Select Delivery Method</option>
                     <option value="register">REG</option>
                     <option value="ems">EMS</option>
                     <option value="pickup">Self pickup</option>
                     
                  </select>
                </div>
                <div class="summary-total">
                  <div class="total-title">Total</div>
                  <div class="total-value final-value" id="basket-total"> <%= totalPrice %></div>
                </div>
                <div class="summary-checkout">
                  <button type="submit" style="border-radius: 24px; color:#0c2431; border-color:transparent;" class="checkout-cta">Go to Secure Checkout</button>
                </div>
              </div>
            </aside>
          </form>
          
          </main>
   <% }

   else { %>
    <br>
    
      <div class="empty" style="text-align: center;"><pre>Your cart is empty</pre></div>
    

   <% } %>
  
 

<%- include("partials/footer") %>