<%- include("partials/header") %>

    <link rel='stylesheet' type='text/css' href='/css/detail.css' />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    
    
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    

    <div class="container">
            
            <div class="row">
                <div class="col-md-12 col-lg-6">
                <div class="img-thumbnail">
                    
                    <img src=<%= Product.image %> >
                </div>
                </div>
                
                <div class="col-md-12 col-lg-5" id="product1">
                    <form action="/want2wear/add-to-cart" method="POST">
                    <h2 name="ProductName"> <%= Product.ProductName %> </h2>
                    <div class="product-buttom">
                        
                        <p class="price" name="price"><%= Product.price %>$</p>
                        
                        
                        
                    <br>
                 


                    
                    <tr>   
                         <td class="Options"></class>Options  : 
                       </td>
                        <td required ><select id="selectOptions" name="Options" onchange="check(this.value)"required>
                            
                            <% if (currentUser){ %>
                                <option value="" selected disabled>-- Select Options --</option>
                                    <% Product.stock.forEach(function(products){ 
                                        if(products.quantity == 0 || !products.available){ %>
                                            <option value="<%= products._id %>" selected disabled>
                                                <% products.size.forEach(function(size){ %>
                                                    <%= size.sizeName %>  
                                                <% });
                                                     products.colors.forEach(function(color){ %>
                                                       -- <%= color.colorName %> -- 
                                                        <% }); %>
                                                        
                                                          Stock :  <%= products.quantity %></option>
                                    <% }

                                    else { %>
                                        <option value="<%= products._id %>">
                                            <% products.size.forEach(function(size){ %>
                                                <%= size.sizeName %>  
                                            <% });
                                                 products.colors.forEach(function(color){ %>
                                                   -- <%= color.colorName %> -- 
                                                    <% }); %>
                                                    
                                                      Stock :  <%= products.quantity %></option>
                                   <% }
                                    
                                    
                                
                              
                                }); 
                            }
                            else { %>
                                <option value="" selected disabled>-- Select Options --</option>
                                <%  Product.stock.forEach(function(products){ %>

                                    
                                    <option value="<%= products._id %>" selected disabled>
                                    <% products.size.forEach(function(size){ %>
                                        <%= size.sizeName %>  
                                    <% }); 
                                     products.colors.forEach(function(color){ %>
                                           -- <%= color.colorName %> -- 
                                    <% }); %>
                                            
                                    Stock :  <%= products.quantity %></option>
                                    
                                
                              
                               <% }); 
                            }%>
                            
                            </select>
                        </td>       
                    </tr>
                
                    
                
                    <br>
                    <label>QUANTITY: <input type="number"  id="selectQuantity" name="quantity" min="1" max="10" placeholder="1" required> </span>
                        </label>
                        <br>
                    <br>
                    
                    <% if (currentUser) { %>
                         <input id = "add" onclick="addtocart()" type="submit" value="Add To Cart" style="background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); border-radius: 24px;">
                   <% }
                   else { %>
                       <input id = "add" onclick="cantadd()" type="submit" value="Add To Cart" style="background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); border-radius: 24px;" disabled > 
                  <% } %>
                    
                    </form>
                    </div>           

            </div> 
        

        <br>

        
        <br>
        <br>
        <br>
        <br>
        
        <% if (currentUser) { %>
    <div class="col-md-12">
        <div class="details&reviews">
            <button class="tablink" onclick="openPage('Details', this, '#b69b7d')" id="defaultOpen" style="border-radius: 24px;background-color: mediumaquamarine;"><i class="fa fa-info-circle"></i> Details</button>
            <button class="tablink" onclick="openPage('Reviews', this, '#b69b7d')" style="border-radius: 24px" ><i class="fa fa-comments"></i> Reviews</button>

        
            <div id="Details" class="tabcontent">

            
                
                
                <% if (currentUser.isAdmin) { %>
                    <button class="modal-btn" style="float: right; border-radius: 24px; font-family: 'Questrial', sans-serif;
                    border-color: transparent;">EDIT</button>
                <% } %>
                    <br>
                <%- Product.details %>
           
            </div>

            <div class="modal-bg">
                <form action="/want2wear/update/details/<%= Product._id %>?_method=PUT" method="POST">
                <div class="modal1">

                <br>
                <br>
                <textarea name="detailEdit" rows="4" cols="50" class="details"></textarea><br>
                <button type="submit">EDIT</button>
                <span class="modal-close">x</span>
                <br>
                </div>
                </form>
            </div>

            <div id="Reviews" class="tabcontent">
                <div class="form-group">

                    <% Product.review.map( review => { %>
                        
                       <div class="user">
                           <div class="reviewtxt">
                                <%= review.username  %> :
                                <div class="review" style="font-family: 'Raleway', sans-serif;"> <%- review.reviewsDetail %> 
                                </div> 
                            </div>
                        </div>
                       
                       <hr class="new1">
                       <br>
                <% }); %>
                </div>

            </div>
        </div>
    </div>

    <% } 
    else { %>

        <div class="col-md-12">
            <div class="details&reviews" style="margin-top: 10%;">
                <button class="tablink" onclick="openPage('Details', this, '#b69b7d')"id="defaultOpen">Details</button>
                <button class="tablink" onclick="openPage('Reviews', this, '#b69b7d')" >Reviews</button>
    
            
                <div id="Details" class="tabcontent">
    
                <center>
                    
                    
            
                    <%- Product.details %>
                </center>
                </div>
    
               
    
                <div id="Reviews" class="tabcontent">
                    <div class="form-group">
                        <% Product.review.map( review => { %>
                            <%= review.username %> <br>
                            <%- review.reviewsDetail %>
    
                    <% }); %>
                    </div>
    
                </div>
            </div>
        </div>
    <% } %>

</div>
</div>
        

        
        <script>
        
        CKEDITOR.replace( 'detailEdit' ); 

        var modalBtn = document.querySelector('.modal-btn');
        var modalBg = document.querySelector('.modal-bg');
        var modalClose = document.querySelector('.modal-close');
        
        console.log(modalBg);
        console.log(modalBtn);
        
        modalBtn.addEventListener('click', function(){
            modalBg.classList.add('bg-active');
        });

        modalClose.addEventListener('click', function(){
            modalBg.classList.remove('bg-active');
        })

        function openPage(pageName,elmnt,color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        function check(selected){
            // alert(selected);

        }
        // function addtocart() {
        //     alert("Add to cart successfully!");
        // }

        function cantadd() {
            // alert("You have to login first!");
            // location.href = '/index';
        }
         s[slideIndex-1].className += " active";
        
        
        </script>








<%- include("partials/footer") %>