<%- include("partials/header") %>

    <link rel='stylesheet' type='text/css' href='/css/list.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="container">
        <h2>Swimwears</h2>
        <div class="row">
        <!--01-->
            <% Product.productID.forEach(function(product){ %>

            
            <div class="col-md-3 col-sm-1">
                <div class="img-thumbnail">
                    <div class="product-top">
                    <img  src=<%= product.image %> > 
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" 
                            title="Add like"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-secondary" 
                            title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div> 
                    <div class="product-buttom text-center">
                    
                        <h3 ><%= product.ProductName %> </h3>
                        <h5><%= product.price %>$</h5>
                        <a href="/want2wear/<%= product._id %>">More...</a>
                    </div>           
                </div>
            </div>
           <% }); %>
            
            

        </div>

    </div>
    
        

<%- include("partials/footer") %>